.pos-sticky {
    position: sticky;
    top: 0;
    z-index: 1000; 

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
    top: -10px;
    right: 15px;
}


.goal-card {
    /* Content size */
    width: 320px;
    
    /* Padding: Space inside the card */
    padding: 25px;
    
    /* Border: The frame of the card */
    border: 1px solid #30363d;
    border-left: 5px solid #fd9d24;
    
    /* Margin: Space between cards */
    margin: 20px;
    
    background: #161b22;
    color: #c9d1d9;
    font-family: 'Courier New', Courier, monospace;
}

.badge {
    background: #fd9d24;
    color: #0d1117;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 4px 8px; /* Box model for the badge itself */
    border-radius: 2px;
}

/* --- General Layout --- */
body {
    background-color: #0d1117;
    margin: 0; /* Removing default browser margin */
}

.navbar {
    background: rgba(13, 17, 23, 0.95);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #30363d;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    color: #fd9d24;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
}